/* App.css */
.container {
  height: 100vh; /* Full viewport height */
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures that .n is at the bottom */
}

.n {
  position: fixed;
  bottom: 0;
  width: 100%; /* Ensure it spans the full width of the viewport */
  left: 0; /* Ensure it starts from the left edge */
  background-color: #333; /* Background color for visibility */
  padding: 10px 0; /* Add padding for spacing */
}
